*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header{
    margin: auto;
    max-width: 800px;
    background-color:#48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
    

}
.container{
    margin: auto;
}
.title{
    font-size: 11px;


}
.FormContairner{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
    margin: 20px;
}
.mb{
    margin-bottom: 25px;
}

h2{
    font-size: 16px;
}

input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    font-weight: bold;
    background-color:#48C5CE ;
}
section{
    padding: 10px;
    margin-left: 93px;
    margin-right: 93px;
    background-image: url(../p치gina_de_captura/imagens_p치gina_de_captura/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../p치gina_de_captura/imagens_p치gina_de_captura/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}
.image{
    width: 160px;
}
footer{
    max-width: 1000px;
    padding: 20px;
    background-color: #202121;
    text-align: center;
    margin-left: 93px;
    margin-right: 93px;
    margin-bottom: 10%;

}
.description{
    color: white;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;

}
.description p, .description h3{
    margin-bottom: 20px;

}